.bg-brand {
  background-color: #e7ab3d;
}

.bg-white {
  background-color: #ffffff;
}

.bg-dark {
  background-color: #333333;
}

.text-brand {
  color: #e7ab3d;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

/*----Custom----*/
.telephone .textwidget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.telephone .icon {
  padding: 20px;
}

.telephone .number {
  padding: 0 1rem;
  background-color: black;
  color: #fff;
  line-height: 60px;
}

.full-img img {
  width: 100%;
}

.slider {
  top: 0;
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.slider .sliderText {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  /*margin: 0 4rem;*/
  width: 100%;
  min-height: 500px;
}

.slider .sliderText .img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
}

.sliderText .title::before {
  background-color: #e7ab3d;
  content: " ";
  display: block;
  border: none !important;
  width: 12rem;
  height: 12rem;
  margin: 0 !important;
  line-height: 1;
  position: relative;
  top: 1.7em;
  left: -1.2em;
  z-index: -1;
}

.slider .post-thumbnail {
  position: absolute;
  top: 0;
  z-index: -1;
}

.slider .sliderText .title,
.slider .sliderText .textwidget,
.slider .sliderText .indicator {
  max-width: 700px;
  padding: 1rem;
  margin: 0 auto;
}

.slider .sliderText .title {
  font-size: 4.625rem;
  font-weight: 700;
  position: relative;
  line-height: 4rem;
  z-index: 1;
  margin-top: 5%;
}

.slider .sliderText .textwidget {
  position: relative;
  z-index: 1;
  font-size: 1.5625rem;
}

.indicator .box {
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 5px;
}

.indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
}

.indicator .box.selected {
  background-color: #e7ab3d;
}

.content {
  max-width: 1260px;
  margin: 0 auto;
}

.site-header {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 5;
  height: 64px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #0000005c;
          box-shadow: 0 0 5px #0000005c;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.site-header.fixed_menu {
  /*
       background-color: #fff;
        box-shadow: 0 0 5px #0000005c;*/
}

.site-header {
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 */
}

.main-navigation #primary-menu > li > a:hover:before,
.main-navigation .current-menu-item > a:before {
  width: 100%;
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.main-navigation a:before {
  content: " ";
  display: block;
  height: 2px;
  width: 0;
  -webkit-box-shadow: 0 0 0 2px #e7ab3d inset;
  box-shadow: 0 0 0 2px #e7ab3d inset;
  bottom: 20%;
  -webkit-transition: 250ms cubic-bezier(0.15, 0.75, 0.5, 1);
  transition: 250ms cubic-bezier(0.15, 0.75, 0.5, 1);
  position: absolute;
  opacity: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  transform-origin: left;
}

.main-navigation .sub-menu li {
  width: 230px;
}

.main-navigation .sub-menu > li > a {
  padding-left: 20px;
}

.main-navigation .sub-menu > li > a:hover {
  background-color: #eee;
}

.brand-bg {
  background-color: #e7ab3d;
  color: #fff;
}

.white-bg {
  background-color: #ffffff;
}

.top-25 {
  margin-top: -25px;
}

.icon-square {
  width: 120px;
  height: 120px;
  font-size: 3.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pos-rel-2 {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.icon-right {
  position: absolute;
  right: 0;
}

.main-title {
  color: #e7ab3d;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1.5em;
  line-height: 1.4;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.left-img {
  margin-top: -120px;
  position: relative;
  z-index: 1;
}

.right-img {
  margin-left: -120px;
  margin-top: -120px;
  position: relative;
  z-index: 1;
}

.right-text {
  margin-left: -120px;
  position: relative;
  z-index: 2;
}

.left-bottom-gap {
  margin-left: -120px;
  margin-top: 120px;
  position: relative;
  z-index: 1;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.p-1 {
  padding-top: 1rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row .right-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.row .col-3 {
  width: 33%;
  margin-right: 2rem;
}

.row .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 2rem;
}

.row .col:last-child {
  margin-right: 0rem;
}

.row .top-p {
  padding-top: 12rem;
  padding-right: 5rem;
}

.row .top-p2 {
  padding-top: 3rem;
  padding-left: 5rem;
}

.row .top-p1 {
  padding-top: 12rem;
  padding-right: 12rem;
}

.row .inner-content {
  max-width: 700px;
  width: 100%;
}

.row .content-h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
}

.row .button {
  font-size: 1.0625em;
  background-color: #e7ab3d;
  color: #fff;
  text-transform: uppercase;
  padding: 1.4em 1.7em;
  border: 0;
  border-radius: 0;
}

.row .top-space {
  margin-top: 3.75rem;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #e7ab3d;
  color: #fff;
  text-transform: uppercase;
  padding: 1.4em 1.7em;
  border: 0;
  border-radius: 0;
}

.space {
  height: 160px;
}

.half-space {
  height: 80px;
}

.space-10 {
  height: 2rem;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

.gap-0 .col {
  margin-right: 0rem;
}

.img2 {
  background-image: url("../image/brand-bg.png");
}

.text-black {
  color: #333333;
}

.client_slider {
  overflow-x: hidden;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 0;
  position: relative;
}

.client .item {
  margin-right: 20px;
  margin-bottom: 1rem;
  padding: 1rem 40px;
  background-color: #eff3f4;
}

.dark .card .body {
  background-color: #333333;
  color: #b7b7b7;
}

.dark .card .body .title {
  color: #e7ab3d;
}

.card {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .img img {
  width: 100%;
}

.card .body {
  background-color: #eff3f4;
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card .body .title {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333333;
  margin-bottom: 1rem;
}

.card .body .title a {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333333;
  text-decoration: none;
}

.card .icon-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -67px;
  position: relative;
}

.card .icon-panel .icon {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
  width: 60px;
  height: 60px;
  background-color: #e7ab3d;
  color: #fff;
}

.card .icon-panel .empty-bg {
  background-color: #eff3f4;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

a {
  text-decoration: underline;
  color: #e7ab3d;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.left-box-bg {
  background-image: url("../image/square.svg");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.left-dark-bg {
  background-image: url("../image/square_dark.png");
}

.center-box-bg {
  background-image: url("../image/square.svg");
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 3rem;
}

.batch {
  max-width: 250px;
  width: 100%;
  padding: 2rem;
}

.batch.batch-full {
  max-width: 60%;
}

.batch:nth-child(1) {
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.batch:nth-child(2) {
  border-bottom: 1px solid #cccccc;
}

.batch .desc {
  text-align: center;
}

.batch.border-0 {
  border: 0;
}

.batch.border-b0 {
  border-bottom: 0;
}

.batch .icon {
  font-size: 4rem;
  text-align: center;
}

.batch .number {
  text-align: center;
  font-size: 4rem;
  color: #333333;
  margin-top: -30px;
}

.batch .title {
  text-align: center;
  margin-top: -10px;
  font-weight: 700;
  text-transform: uppercase;
}

.site-footer {
  background-color: #1e293b;
  background-image: url("../image/footer_background_02.jpg");
  background-position: top center;
  font-weight: 300;
  padding: 5rem;
  margin-top: -10px;
  position: relative;
  z-index: 100;
  color: #757575;
}

.site-footer a {
  color: #757575;
  text-decoration: underline;
}

.site-footer a:hover {
  color: #ffffff;
}

.site-footer .title {
  font-size: 1.2rem;
  color: #fff;
}

.site-footer .site-info-dev {
  font-size: 80%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .card .icon-panel {
    margin-top: -66px;
  }
}

.topbanner {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../image/hero_services1.jpg");
  background-size: cover;
  background-position: center;
}

.topbanner .title {
  font-size: 3rem;
  /*color: #fff;*/
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.center-park {
  padding: 5rem 4rem;
  padding-left: 180px;
}

.center-park .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin-bottom: 2rem;
}

.center-park .panel .icon {
  font-size: 3rem;
  padding: 0 2rem;
  color: #e7ab3d;
}

.center-park .panel .title {
  color: #e7ab3d;
  font-size: 1.5rem;
}

.compare-card {
  height: 100%;
  background-color: #eff3f4;
  padding: 1.5rem;
}

.compare-card .icon {
  font-size: 4rem;
  text-align: center;
}

.compare-card .title {
  text-align: center;
  margin-bottom: 2rem;
}

.compare-card .title a {
  color: #333333;
  font-size: 1.5rem;
  text-decoration: none;
}

.compare-card .content ul {
  margin: 0;
}

.pr-1 {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.margin-right {
  margin-right: 130px;
}

.parnter {
  padding-left: 10rem;
}

.shadow {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
}

.team_bio {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team_bio:nth-child(even) {
  background-color: #eff3f4;
}

.team_bio .bio {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 3rem;
}

.team_bio .bio ul {
  margin: 0;
}

.social .icon {
  float: left;
  margin-right: 1rem;
}

.social .icon img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */